<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products - Full Stack Music</title>

    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <!--Start Menu-->
    <nav class="menu">
        <a href="../index.html"><img width="100px" src="../assets/images.jfif" alt="Full Stack Music"></a>
        <a href="../products.html"> Products </a>
        <a href="../stores.html"> Stores </a>
        <a href="../contact.html"> Contact </a>
         <input class="search" placeholder="type your search"></input> <a><img src="../assets/search-icon.png" alt="search"></img></a>
    </nav>
    <!--End of menu-->
    <header>
        <h3>Products</h3>
    </header>
    <hr>
    <section>
    <div class="container">
    <div class="categories">
        <h3>Categories</h3>
        <ul>
            <a href="heavMetal.html" alt="heavMetal"><li>Heavy Metal (234)</li></a>
            <a href="blackMetal.html" alt="blackMetal"><li>Black Metal (66)</li></a>
            <a href="trashMetal.html" alt="trashMetal"><li>Thrash metal (75)</li></a>
            <a href="progressiveRock.html" alt="progressiveRock"><li>Progressive rock (14)</li></a>
            <a href="folkMetal.html" alt="folkMetal"><li>Folk metal (8)</li></a>
            <a href="releases.html" alt="releases"><li>Releases</li></a>
            <a href="promotions.html" alt="promotions"><li>Promotions</li></a>
            <a href="rareRecords.html" alt="rareRecords"><li>Rare Records</li></a>
            <a href="bestSellers.html" alt="bestSellers"><li>Best Sellers</li></a>
            <a href="sellYourVinyls.html" alt="sellYourVinyls"><li>Sell your vinyls</li></a>
            <a href="used.html" alt="used"><li>Used</li></a>
        <ul>
    </div>

    <div class="products">
        
        <div class="box_products">
            <img src="">
                <br>
                <p>sorry pages in maintenance  :(</p>
                <hr>
                <p class="old_price"> $ 00.00</p>
                <p class="price">0.00</p>
            </div>
        </div>             
    </div>
</div>

</section>

    <br><br><br><br>  <br><br><br><br> <br><br><br>

    <footer id="footer">
        <p id="payment_methods"><b> Payment methods: </b></p>
        <img src="../assets/peyment methods.png" alt="payment methods">
        </p>&copy; Recode Pro turmas 2020</p>
     </footer>
</body>
</html>