<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products - Full Stack Music</title>

    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <nav class="menu">
        <ul>
            <li><a id="logo" href="../index.html"><img src="../assets/images.jfif" alt="Full Stack Music"></a></li>
            <li><a href="../products.html">Products</a></li>
            <li><a href="../stores.html">Stores</a></li>
            <li> <a href="../contact.html">Contact</a></li>
            <div class="search"><input  placeholder="type your search"></input> <a><img src="../assets/search-icon.png" alt="search"></a></div>
        </ul>
    </nav>
    <header>
        <h3>Products</h3>
    </header>
    <hr>
    <section>
    <div class="container">
    <div class="categories">
        <h3>Categories</h3>
        <ul>
            <li onmouseover="spotlight(this)" onmouseout="defocus(this)" onclick="show_allCategories()">All(12)</li>
            <li onmouseover="spotlight(this)" onmouseout="defocus(this)" onclick="show_categories('heavMetal')">Heavy Metal(3)</li>
            <li onmouseover="spotlight(this)" onmouseout="defocus(this)" onclick="show_categories('blackMetal')">Black Metal(1)</li></a>
            <li onmouseover="spotlight(this)" onmouseout="defocus(this)" onclick="show_categories('trashMetal')">Thrash Metal(4)</li></a>
            <li onmouseover="spotlight(this)" onmouseout="defocus(this)" onclick="show_categories('progressiveRock')">Progressive Rock(1)</li></a>
            <li onmouseover="spotlight(this)" onmouseout="defocus(this)" onclick="show_categories('folkMetal')">Folk Metal (1)</li></a>
            <li onmouseover="spotlight(this)" onmouseout="defocus(this)" onclick="show_categories('hardRock')">Hard Rock (2)</li></a>
            <a onmouseover="spotlight(this)" onmouseout="defocus(this)" href="releases.html" alt="releases"></a><li>Releases</li></a>
            <a onmouseover="spotlight(this)" onmouseout="defocus(this)" href="promotions.html" alt="promotions"><li>Promotions</li></a>
            <a onmouseover="spotlight(this)" onmouseout="defocus(this)" href="rareRecords.html" alt="rareRecords"><li>Rare Records</li></a>
            <a onmouseover="spotlight(this)" onmouseout="defocus(this)" href="bestSellers.html" alt="bestSellers"><li>Best Sellers</li></a>
            <a onmouseover="spotlight(this)" onmouseout="defocus(this)" href="sellYourVinyls.html" alt="sellYourVinyls"><li>Sell your vinyls</li></a>
            <a onmouseover="spotlight(this)" onmouseout="defocus(this)" href="used.html" alt="used"><li>Used</li></a>
        <ul>
    </div>

    <div class="products">
        
        <div class="box_products">
            <img src="">
                <br>
                <p>sorry pages in maintenance  :(</p>
                <hr>
                <p class="old_price"> $ 00.00</p>
                <p class="price">0.00</p>
            </div>
        </div>             
    </div>
</div>

</section>

    <br><br><br><br>  <br><br><br><br> <br><br><br>

    <footer id="footer">
        <p id="payment_methods"><b> Payment methods: </b></p>
        <img src="../assets/peyment methods.png" alt="payment methods">
        </p>&copy; Recode Pro turmas 2020</p>
     </footer>
</body>
</html>